body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,{
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

#header-row{
  margin-left: -30px;
  margin-right: 0;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h2 {
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-size: 30px;
  line-height: 22px;
}

h2,
h3{
  font-family: "Poiret One", sans-serif;
}

h4 {
  font-size: 21px;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
hr{
  height: 0;
  border-top: 1px solid #59b;
}
.date-text {
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#name {
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 5px;
  font-family: "Passion One", sans-serif;
  text-shadow: 2px 2px 0 #146;
}

#role {
  font-size: 30px;
  font-family: "Poiret One", sans-serif;

}
#name,
#role{
  text-align: center;
}

#top-contacts li{
  text-align: left;
}


.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  display: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

#lets-connect {
  text-align: center;
  margin-top: 25px;
}

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}


/*********COLORS***********/
.dark-blue{
  color: #468;
}

.light-blue{
  color: #ace;
}

.link-blue{
  color: #4ac;
}

.green{
  color: #aed;
}

.light-background{
  background-color: #468;
}

.dark-background{
  background-color: #234;
}