body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,{
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

#header-row{
  margin-left: -30px;
  margin-right: 0;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
  line-height: 29px;
}

h3 {
  font-size: 30px;
  line-height: 22px;
}

h2,
h3,
h4{
  font-family: "Poiret One", sans-serif;
}

h4 {
  font-size: 25px;
  line-height: 20px;
  padding-top: 10px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
hr{
  height: 0;
  border-top: 1px solid #59b;
}
.date-text {
  font-size: 14px;
  line-height: 16px;
  float: left;
  color: #ace;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;
  color: #ace;

}

p {
  font-size: 14px;
  line-height: 21px;
  color: #aed;
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  color: #4ac;
}



.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

#nav{
  text-align: center;
}

img {
  padding: 10px;
}

span{
  max-width: 45%;
}

.inactive{
  display: none;
}

.active{
  max-width: 100%;
  clear:both;
  float: left;
  padding-bottom: 20px;
}

#name {
  font-size: 60px;
  line-height: 48px;
  letter-spacing: 5px;
  font-family: "Passion One", sans-serif;
  text-shadow: 2px 2px 0 #146;
}

#role {
  font-size: 30px;
  font-family: "Poiret One", sans-serif;

}
#name,
#role{
  text-align: center;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
}

#skills-h3 {
  display: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

.content-container{
  text-align: left;
  width: 100%;
}

#map {
  display: block;
  height: 100%;
}

#location {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

#lets-connect {
  text-align: center;
}

/*********COLORS***********/
.contact-data,
.skill,
.location-text{
  color: #ace;
}

#name,
#skills-h3,
#lets-connect,
.contact-type{
  color:#468;
}

.light-background{
  background-color: #468;
}

.dark-background{
  background-color: #234;
}


/********MEDIAQUERIES*************/

@media screen and (min-width: 481px){
  .inactive{
    display: inherit;
  }
}

@media screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  .skill{
    width: 100%;
    display: block;
    padding: 5px;
  }
}
